/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'poppins', sans-serif;
}
html{
  font-size: 62.5%;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color:#3D4D6A ;
  color:white ;
}
header{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
   filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 3rem;
  color:#A0C6D2 ;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5 ease;
}
.logo:hover{
  transform: scale(1.1);
}
nav a{
  font-size: 1.8rem;
  color: white;
  margin: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a.active{
  color: #60808a;
  border-bottom: 3px solid #60808a;
}
nav a:hover{
  color: #60808a;
  border-bottom: 3px solid #60808a;
}
@media(max-width:995px){
  nav{
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      width: 40%;
      border-left: 3px solid #60808a;
      border-bottom: 3px solid #60808a;
      border-bottom-left-radius: 2rem;
      padding: 1rem solid;
      background-color: #161616;
      border-top: 0.1rem solid rgba(0,0,0,0.1);
  }
  nav.active{
      display: block;
  }

  nav a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
  }

  nav a:hover,
  nav a.active{
      padding: 1rem;
      border-radius: 0.5rem;
      border-bottom: 0.5rem solid #60808a;
  }
}
section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}
.home{
display: flex;
justify-content: center;
align-items: center;
gap: 8rem;
background-color:#3D4D6A ;
}

.home-content h1{
font-size: 6rem;
font-weight: 700;
line-height: 1.3;
}

.home-content p{
  font-size: 1.5rem;
}
.home-content h3{
font-size: 4rem;
margin-bottom: 1rem;
font-weight: 700;
}
.home-img{
border-radius: 50%;
}

.home-img img{
position: relative;
width: 37vw;
border-radius: 50%;
box-shadow: 0 0 25px solid #60808a;
cursor: pointer;
transition: 0.2s linear;
}

.home-img img:hover{
font-size: 1.8rem;
font-weight: 500;
}

.social-icons a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 4rem;
height: 4rem;
background-color: transparent;
border: 0.2rem solid #60808a;
font-size: 2rem;
border-radius: 50%;
margin: 3rem 1.5rem 3rem;
transition: 0.3s ease;
color: white;
}
span{
  color: #60808a;
}
.social-icons a:hover{
color: black;
transform: scale(1.3) translateY(-5px);
background-color: #60808a;
box-shadow: 0 0 25px #60808a;
}
.typing-text span {
  color: #60808a; /* Color for the typing text */
}
.typing-text .static-text {
  color: white; /* Color for "I'm a" */
}
.btn{
display: inline-block;
padding: 1rem 2.8rem;
background-color: #3D4D6A;
border-radius: 4rem;
font-size: 1.6rem;
color:#60808a;
letter-spacing: 0.3rem;
font-weight: 600;
border: 2px solid  #60808a;
transition: 0.3s ease;
cursor: pointer;
}
.btn:hover{
transform: scale3d(1.03);
background-color: #60808a;
color: #3D4D6A;
box-shadow: 0 0 25px  #60808a;
}

@keyframes cursor{
  to{
    border-left: 3px solid #60808a ;
  }
}
@media(max-width: 1000px){
  .home{
    gap:4rem;
  }
}

@media(max-width:995px){
  .home{
    flex-direction: column;
    margin: 5rem 4rem;
  }
  .home.home-content h3{
    font-size: 2.5rem;
  }

  .home.home-content h1{
    font-size: 5rem;
  }

  .home-img img{
    width: 70vw;
    margin-top: 4rem;
  }
}
